<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CineMagic</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>loginpage.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignUp</display-name>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>com.aspire.cinemagic.controller.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginToCineMagic</display-name>
    <servlet-name>LoginToCineMagic</servlet-name>
    <servlet-class>com.aspire.cinemagic.controller.LoginToCineMagic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginToCineMagic</servlet-name>
    <url-pattern>/LoginToCineMagic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayShowsForTheMovie</display-name>
    <servlet-name>DisplayShowsForTheMovie</servlet-name>
    <servlet-class>com.aspire.cinemagic.controller.DisplayShowsForTheMovie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayShowsForTheMovie</servlet-name>
    <url-pattern>/DisplayShowsForTheMovie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookForThisShow</display-name>
    <servlet-name>BookForThisShow</servlet-name>
    <servlet-class>com.aspire.cinemagic.service.BookForThisShow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookForThisShow</servlet-name>
    <url-pattern>/BookForThisShow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookForTheShow</display-name>
    <servlet-name>BookForTheShow</servlet-name>
    <servlet-class>com.aspire.cinemagic.controller.BookForThisShow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookForTheShow</servlet-name>
    <url-pattern>/BookForTheShow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookTickets</display-name>
    <servlet-name>BookTickets</servlet-name>
    <servlet-class>com.aspire.cinemagic.controller.BookTickets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookTickets</servlet-name>
    <url-pattern>/BookTickets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayTickets</display-name>
    <servlet-name>DisplayTickets</servlet-name>
    <servlet-class>com.aspire.cinemagic.controller.DisplayTickets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayTickets</servlet-name>
    <url-pattern>/DisplayTickets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayLastTicket</display-name>
    <servlet-name>DisplayLastTicket</servlet-name>
    <servlet-class>com.aspire.cinemagic.controller.DisplayLastTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayLastTicket</servlet-name>
    <url-pattern>/DisplayLastTicket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.aspire.cinemagic.controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>